<!-- /sections/slideshow-custom.liquid -->

{% assign section-class = '' %}

{% if section.settings.title != blank %}
	{% assign section-class = 'shopify-section' %}
{% endif %}
<div class="{{ section-class }}">
  <div class="media">
    <div class="wrapper">
      {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
          <hr class="hr--small">
        </div>
      {% endif %}

      <!-- Slider main container -->
      <div class="custom-slide-container swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for image in section.blocks %}
            {% if image.settings.image != blank %}
                {% assign img_url = image.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <div class="swiper-slide">
                  <div class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0">Title</div>
                  <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                  <div class="text" data-swiper-parallax="-100">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus
                      felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet
                      magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                      ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros
                      quis feugiat.
                    </p>
                  </div>
                  <div class="parallax-bg" style="background-image:url({{image.settings.image | img_url: '4472x' }})" data-swiper-parallax="23%"></div>
                        <!-- <img class="lazyload parallax-bg"
                             data-swiper-parallax="-23%"
                             style="width: 100%;"
                             src="{{ image.settings.image | img_url: '4472x' }}"
                             data-aspectratio="{{ image.settings.image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image.settings.image.alt | escape }}"> -->
                </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Slideshow",
  "settings": [
	{
	  "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
	}
  ],
  "presets": [
    {
      "name": "Custom Slideshow",
      "category": "$Custom Section",
      "blocks": [
        {
        "type": "image"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Select an Image"
        },
        {
          "id": "atl",
          "type": "text",
          "label": "Alt image"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
.custom-slide-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff1493;
}
.custom-slide-container .swiper-button-prev,
.custom-slide-container .swiper-button-next {
    color: #ff1493;
}
.custom-slide-container .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #d1bf97;
}

.custom-slide-container.swiper-container {
  width: 100%;
  height: 100%;
  background: #FFF;
}

.custom-slide-container .swiper-slide {
  font-size: 18px;
  color: deeppink;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 150px 60px;
  position: relative;
  overflow: hidden;
}

.custom-slide-container .swiper-slide:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25) calc(100% - 150px),
    rgba(0, 0, 0, 0.38) calc(100% - 60px),
    rgba(0, 0, 0, 0.8));
}

.custom-slide-container .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.custom-slide-container .swiper-slide .title {
  font-size: 41px;
  font-weight: 600;
}

.custom-slide-container .swiper-slide .subtitle {
  font-size: 21px;
  font-weight: 600;
}

.custom-slide-container .swiper-slide .text * {
  font-size: 16px;
  max-width: 200px;
  line-height: 1.5;
  color: lavenderblush !important;
}
.custom-slide-container :root {
    --swiper-theme-color: deeppink;
}
</style>

<script>
var swiper = new Swiper('.custom-slide-container', {
  speed: 2000,
  spaceBetween: 16,
  loop: true,
  autoplay: {
     delay: 4000,
   },
  parallax: true,
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>

